[user]
  name = Anthony Cook
  email = github@anthonymcook.com

[core]
  #pager = less -FRSX
  pager = delta
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  editor = nvim

[interactive]
  diffFilter = delta --color-only --features=interactive

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow bold
  untracked = white

[alias]
  co = checkout
  st = status
  ci = commit
  w  = whatchanged
  nb = checkout -b
  b  = branch
  down = pull --rebase

  amend = commit --amend

  stashs  = stash --keep-index
  unstash = stash pop
  unstage = reset HEAD --

  branches = branch -v
  remotes = remote -v
  origin = remote show origin
  tags = tag -n -l

  diffs = diff --staged
  diffh = diff HEAD

  last = log -1 HEAD
  dog = log --decorate --oneline --graph
  hist = log --graph  --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

  children = "!bash -c 'c=${1:-HEAD}; set -- $(git rev-list --all --not \"$c\"^@ --children | grep $(git rev-parse \"$c\") ); shift; echo $*' -"

  root = rev-parse --show-toplevel
  top = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd

  ls = ls-tree HEAD --name-only
  unmerged = ls-files --unmerged

  subdo = submodule foreach git
  stats = !git diff --stat `git hash-object -t tree /dev/null`

  vimdiff = difftool --diff-filter=M --tool=vimdiff
  opendiff = difftool --diff-filter=M --tool=opendiff
  p4diff = difftool --diff-filter=M --tool=p4merge

  oldest = "!git log --follow --pretty=%H -- \"$*\" | tail -n 1 #"
  oldestdate = "!git isodate $(git oldest \"$*\") #"

  isodate = show --format=%ad --date=format:'%Y-%m-%dT%H:%M:%S%z' --no-patch

[mergetool "p4merge"]
  cmd = ~/Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  keepTemporaries = false
  trustExitCode = false
  keepBackup = false

[difftool "p4merge"]
  cmd = ~/Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[delta]
  navigate = true
  features = decorations
  default-language = bash

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  syntax-theme = Monokai Extended Origin
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax
  line-numbers = true
  side-by-side = true

[push]
  default = current

[pull]
  default = current

[merge]
  default = current
  conflictstyle = diff3
  tool = p4merge

[diff]
  prompt = false
  colorMoved = default
  #tool = vimdiff

[mergetool]
  keepBackup = false
  prompt = false

[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "gh:"

[url "https://gist.github.com/"]
  insteadOf = "gist:"

[url "git@gist.github.com:"]
  pushInsteadOf = "https://gist.github.com/"
  pushInsteadOf = "http://gist.github.com/"
  pushInsteadOf = "gist:"

[branch "master"]
  remote = origin
  merge = refs/heads/master

[github]
  user = acook
  username = acook

[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[gpg]
  program = gpg
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
  defaultBranch = main

[include]
  path = ~/.gitconfig.local

[includeIf "gitdir/i:*Work*"]
  path = ~/.gitconfig.work

[checkout]
	defaultRemote = origin
