[user]
  name = Anthony Cook
  email = github@anthonymcook.com

[core]
  pager = less -FRSX
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore_global
  editor = vim

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  pager = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow bold
  untracked = white

[alias]
  co = checkout
  st = status
  ci = commit
  w  = whatchanged
  nb = checkout -b
  b  = branch

  amend = commit --amend

  unstash = stash pop
  unstage = reset HEAD --

  branches = branch -v
  remotes = remote -v
  origin = remote show origin
  tags = tag -n -l

  diffs = diff --staged
  diffh = diff HEAD

  last = log -1 HEAD
  dog = log --decorate --oneline --graph
  hist = log --graph  --abbrev-commit --date=relative --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

  root = rev-parse --show-toplevel
  top = !eval cd "$(pwd)/$(git rev-parse --show-cdup)" && pwd

  ls = ls-tree HEAD --name-only
  unmerged = ls-files --unmerged

  subdo = submodule foreach git
  stats = !git diff --stat `git hash-object -t tree /dev/null`

  vimdiff = difftool --diff-filter=M --tool=vimdiff
  opendiff = difftool --diff-filter=M --tool=opendiff
  p4diff = difftool --diff-filter=M --tool=p4merge

[mergetool "p4merge"]
	cmd = ~/Applications/p4merge.app/Contents/Resources/launchp4merge "$PWD/$BASE" "$PWD/$LOCAL" "$PWD/$REMOTE" "$PWD/$MERGED"
  keepTemporaries = false
	trustExitCode = false
  keepBackup = false

[difftool "p4merge"]
	cmd = ~/Applications/p4merge.app/Contents/Resources/launchp4merge $LOCAL $REMOTE

[push]
  default = current

[pull]
  default = current

[merge]
  default = current
	tool = p4merge

[diff]
	tool = vimdiff
	prompt = false

[mergetool]
	keepBackup = false
	prompt = false

[url "http://github.com/"]
  insteadOf = "gh:"

[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
  pushInsteadOf = "http://github.com/"
  pushInsteadOf = "gh:"

[url "https://gist.github.com/"]
  insteadOf = "gist:"

[url "git@gist.github.com:"]
  pushInsteadOf = "https://gist.github.com/"
  pushInsteadOf = "http://gist.github.com/"
  pushInsteadOf = "gist:"

[branch "master"]
  remote = origin
  merge = refs/heads/master

[github]
	user = acook
	username = acook

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f

[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[gpg]
	program = gpg2
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[init]
	defaultBranch = main
