[submodule "dotfiles/.vim/bundle/jQuery"]
	path = dotfiles/.vim/bundle/jQuery
	url = git://github.com/vim-scripts/jQuery.git
[submodule "dotfiles/.vim/bundle/nerdcommenter"]
	path = dotfiles/.vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "dotfiles/.vim/bundle/syntastic"]
	path = dotfiles/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "dotfiles/.vim/bundle/vim-abolish"]
	path = dotfiles/.vim/bundle/vim-abolish
	url = http://github.com/tpope/vim-abolish.git
[submodule "dotfiles/.vim/bundle/vim-coffee-script"]
	path = dotfiles/.vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "dotfiles/.vim/bundle/vim-cucumber"]
	path = dotfiles/.vim/bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "dotfiles/.vim/bundle/vim-endwise"]
	path = dotfiles/.vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "dotfiles/.vim/bundle/vim-fugitive"]
	path = dotfiles/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dotfiles/.vim/bundle/vim-git"]
	path = dotfiles/.vim/bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "dotfiles/.vim/bundle/vim-haml"]
	path = dotfiles/.vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule "dotfiles/.vim/bundle/vim-markdown"]
	path = dotfiles/.vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "dotfiles/.vim/bundle/vim-rails"]
	path = dotfiles/.vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "dotfiles/.vim/bundle/vim-repeat"]
	path = dotfiles/.vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "dotfiles/.vim/bundle/vim-surround"]
	path = dotfiles/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "dotfiles/.vim/bundle/vim-toggle-wrap"]
	path = dotfiles/.vim/bundle/vim-toggle-wrap
	url = git://github.com/bronson/vim-toggle-wrap.git
[submodule "dotfiles/.vim/bundle/vim-unimpaired"]
	path = dotfiles/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "dotfiles/.vim/bundle/vimwiki"]
	path = dotfiles/.vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "dotfiles/.vim/bundle/vim-javascript"]
	path = dotfiles/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dotfiles/.vim/bundle/vim-jst"]
	path = dotfiles/.vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule "dotfiles/.vim/bundle/Command-T"]
	path = dotfiles/.vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "dotfiles/.vim/bundle/vim-conque"]
	path = dotfiles/.vim/bundle/vim-conque
	url = https://github.com/rson/vim-conque.git
[submodule "dotfiles/.vim/bundle/vim-pathogen"]
	path = dotfiles/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "dotfiles/.vim/bundle/supertab"]
	path = dotfiles/.vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "dotfiles/.vim/bundle/ctrlp.vim"]
	path = dotfiles/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "dotfiles/.vim/bundle/csapprox"]
	path = dotfiles/.vim/bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dotfiles/.vim/bundle/vim-indent-guides"]
	path = dotfiles/.vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "dotfiles/.vim/bundle/vim-powerline"]
	path = dotfiles/.vim/bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "dotfiles/.vim/bundle/badwolf"]
	path = dotfiles/.vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "dotfiles/.vim/bundle/darkspectrum"]
	path = dotfiles/.vim/bundle/darkspectrum
	url = https://github.com/vim-scripts/darkspectrum.git
[submodule "dotfiles/.vim/bundle/molokai"]
	path = dotfiles/.vim/bundle/molokai
	url = https://github.com/tomasr/molokai
[submodule "dotfiles/.vim/bundle/taglist.vim"]
	path = dotfiles/.vim/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "dotfiles/.vim/bundle/rainbow.vim"]
	path = dotfiles/.vim/bundle/rainbow.vim
	url = https://github.com/Soares/rainbow.vim.git
[submodule "dotfiles/.vim/bundle/lusty"]
	path = dotfiles/.vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
[submodule "dotfiles/.vim/bundle/YankRing.vim"]
	path = dotfiles/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "dotfiles/.vim/bundle/treetop.vim"]
	path = dotfiles/.vim/bundle/treetop.vim
	url = https://github.com/nanki/treetop.vim.git
[submodule "dotfiles/.vim/bundle/gundo.vim"]
	path = dotfiles/.vim/bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "dotfiles/.vim/bundle/vim-slim"]
	path = dotfiles/.vim/bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
